In [1]:
import pandas as pd
import numpy as np

# level 3

In [2]:
train = pd.read_csv('encrypted/train_data.csv')

In [3]:
train

         MODE POWER   AMPS  VOLTS     TEMP UNIT  DELTA  GAMMA  OUTPUT
0    REDACTED  high  0.585  4.347   66.812    C -0.659 -0.527   3.749
1        beam   low  0.687  2.412  -17.044    C  0.508 -0.371  -1.062
2    REDACTED   low  0.888  2.979   40.918    C  0.600  1.412   2.265
3        auto   low  0.114  0.754  -43.308    C -0.760 -0.109   1.847
4       burst  high  0.318  3.955   37.752    C -0.751  0.492   1.821
..        ...   ...    ...    ...      ...  ...    ...    ...     ...
995      auto   low  0.350  4.257  274.581    K  0.991 -0.335   2.466
996      beam   low  0.644  1.128  -27.707    C -0.529  0.034  -1.834
997     burst   low  0.887  1.418  201.560    ?  0.729 -0.503  -0.188
998  REDACTED   low  0.323  0.291  -17.162    C -0.120  0.524   0.081
999      beam  high  0.344  2.538  -32.986    C  0.075  0.840  -0.379

[1000 rows x 9 columns]

In [4]:
train.describe()

,AMPS,VOLTS,TEMP,DELTA,GAMMA,OUTPUT
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,984.000000
mean,-0.887201,2.005609,80.464875,-0.032228,-0.003582,0.154499
std,11.700414,1.402833,133.919229,0.560987,0.748727,2.494606
min,-99.000000,0.020000,-100.000000,-1.000000,-2.000000,-8.323000
25%,0.248000,0.961000,-19.889250,-0.515250,-0.532750,-0.346750
50%,0.502500,1.719500,27.403500,-0.022000,-0.016500,0.200500
75%,0.758250,2.708000,223.820500,0.444250,0.519000,1.901750
max,0.999000,8.700000,373.150000,0.991000,2.000000,9.274000

In [5]:
train_clean = train[~((train['AMPS'] < 0) | (train['AMPS'] > 1))]

In [6]:
train_clean = train_clean.dropna()

In [7]:
len(train_clean)

971

# level 4

In [11]:
train_clean['TEMP'] = np.where(train_clean['UNIT'] == 'K', train_clean['TEMP'] - 273.15, train_clean['TEMP'])

In [12]:
#get mean and std of UNIT=K

In [13]:
train_clean[train_clean['UNIT'] == 'K']['TEMP'].mean()

-0.6903755656108361

In [14]:
train_clean[train_clean['UNIT'] == 'K']['TEMP'].std()

47.71908880263499

In [15]:
#handle UNIT = ? by dropping such rows

In [16]:
print(len(train_clean[train_clean['UNIT'] == '?']) / len(train_clean))  #dropping 10% of training data

train_clean = train_clean[~(train_clean['UNIT'] == '?')]

0.10401647785787847

# prep for prediction task in next few levels

In [18]:
#get test set

In [19]:
test = pd.read_csv('encrypted/test_data.csv')

In [20]:
test

          MODE POWER   AMPS  VOLTS    TEMP UNIT  DELTA  GAMMA
0     REDACTED  high  0.126  7.489  14.284    C -0.818  0.692
1     REDACTED  high  0.917  4.557  17.746    C  0.251 -0.709
2     REDACTED  high  0.508  2.928  -9.866    C -0.273  1.056
3         auto   low  0.832  2.464 -32.047    C  0.145 -0.572
4         auto   low  0.501  2.711   1.349    C  0.431 -0.939
...        ...   ...    ...    ...     ...  ...    ...    ...
2495  REDACTED  high  0.639  2.318 -21.235    C -0.786  0.399
2496  REDACTED  high  0.630  1.569 -12.947    C  0.768 -0.001
2497      auto   low  0.813  1.854 -29.502    C -0.408  0.638
2498      auto   low  0.172  3.663  -0.141    C  0.595  0.995
2499      beam   low  0.644  2.496  45.466    C -0.092 -0.130

[2500 rows x 8 columns]

In [21]:
#drop unit col for both training and test set bc it's not a useful feature

train_clean = train_clean.drop('UNIT', axis='columns')
test_clean = test.drop('UNIT', axis='columns')

In [22]:
train_clean.to_csv('../prediction-task/train-clean.csv', index=False)
test_clean.to_csv('../prediction-task/test-clean.csv', index=False)